<p-card>
  <form class="Form" [formGroup]="postForm" (ngSubmit)="submit()">
    <div class="Form-input">
      <label for="title"><h4>Title</h4></label>
      <input
        pInputText
        type="text"
        formControlName="title"
        placeholder="Enter Post title..."
        name="title"
      />
    </div>

    <div class="Form-input">
      <label for="description"><h4>Description</h4></label>
      <textarea
        pInputTextarea
        [rows]="5"
        [cols]="30"
        autoResize="autoResize"
        formControlName="description"
        placeholder="Enter Description..."
        name="description"
      ></textarea>
    </div>

    <button
      pButton
      type="submit"
      label="Submit"
      [disabled]="postForm.invalid"
    ></button>
  </form>
</p-card>
